#section1services{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
#section2services{
  margin-top: 70px;
}
#section3services{
  margin-top: 70px;
}


.section-acomodacoes-left {

  -webkit-border-top-right-radius: 50px;
-moz-border-radius-topright: 50px;
border-top-right-radius: 50px;
}

.section-acomodacoes-right {
    -webkit-border-top-left-radius: 50px;
-moz-border-radius-topleft: 50px;
border-top-left-radius: 50px;
}