#calendar {
  transition: 2s;
  border-radius: 50%;
}


.datepicker-date-display {
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  background-color: #e1e1e1;
  color: rgb(0, 0, 0);
  padding: 20px 22px;
  font-weight: 500;
  display: flex;
  justify-content:center;
}


#calendar .datepicker-container, .datepicker-table-wrapper {
  background-color: rgb(241 241 241)
}

.datepicker-date-display .year-text {
  font-size: 2.5rem;
  line-height: 25px;
  color: rgba(0, 68, 255, 0.7);
  padding-left:30px;
  padding-right: 5px;
}


.datepicker-date-display .date-text {
  font-size: 1.5rem;
  line-height: 25px;
  color: rgba(0, 68, 255, 0.7);
  font-weight: bold;
  padding-right:30px;
  padding-left: 5px;
}

.datepicker-calendar-container {
  -webkit-box-flex: 2.5;
  -webkit-flex: 2.5 auto;
  -ms-flex: 2.5 auto;
  flex: 2.5 auto;
}


.datepicker-controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 280px;
    margin: 0 auto;
}



@media only screen and (min-width: 601px){ 
  .datepicker-controls, .datepicker-table, .datepicker-footer {
    width: 320px;
    height: 40px;
}
}


#calendar .datepicker-table {
  font-size: 1rem;
  margin: 0 auto;

}


#calendar thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border: 0 !important;

}

#calendar tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

#calendar .datepicker-table tr {
  border: 0;
}


#calendar tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}


#calendar .datepicker-table td {
  padding: 0;
  margin: 1px;
}

#calendar td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(238, 238, 238);
}
#calendar table, th, td {
  border: 0;
}


#calendar .month-prev {
  border-radius: 20px;
  font-size: 27px;
  color: black;
  background-color: transparent;
  border: 0;

}

#calendar button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
@media only screen and (min-width: 601px){ 
#calendar datepicker-day-button {
  line-height: 44px;
}

#calendar .datepicker-table {
width: 80%;
}

}




#calendar .datepicker-day-button {
  background-color: rgb(252, 252, 252);
  line-height: 38px;
  display: block;
  width: 3rem;
  padding: 5px 5px;
  cursor: pointer;
  color: inherit;
  border: 0;
  margin: 4px;
  border-radius: 10px;
}



  

#calendar .datepicker-day-button:hover {
  background-color: rgb(251, 255, 0);
}


#calendar button, select {
  text-transform: none;
}
#calendar button, input {
  overflow: visible;
}
#calendar button, input, optgroup, select, textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;

   }


   .section-calendar {
     border-radius: 5px;
    background: rgb(0,78,200);
    background: -moz-linear-gradient(180deg, rgba(0,78,200,1) 3%, rgba(0,224,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,78,200,1) 3%, rgba(0,224,255,1) 100%);
    background: linear-gradient(180deg, rgba(0,78,200,1) 3%, rgba(0,224,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004ec8",endColorstr="#00e0ff",GradientType=1);
   }


   .name-title-tarifas {
     color: white;
     padding-left: 50px;
   }

   .tarifas-form {
     margin: auto;
   }